html,body{
	height: 100%;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.clearfix::after{
 clear: both;
 content: "";
 display: table;
}
a{
	color: inherit;
	text-decoration: none;
}
li{
	list-style: none;
}
ul li:last-child{
	margin-bottom: 0;
}
img{
	display: block;
	width: 100%;
	height: auto;
}
input,
button,
textarea{
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input::placeholder {
	color: inherit;
}
button{
	cursor: pointer;
}
input, 
textarea{
	display: block;
	resize: none;
}
body{
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
	background: #efe8d8;
}
.container{
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
.dn{
	display: none;
}
section{
	padding: 40px 0;
}
.sec_tit{
	font-size: 48px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;

	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}
.sec_txt{
	font-size: 21px;
	margin-bottom: 2%;
}
.link{
	transition: 0.3s;
}
.link:hover{
	box-shadow: 0px 6px 5px 2px #836A36;
}
.flex{
	display: flex;
	justify-content: space-between;

}
.btn {
	display: inline-block;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	background: rgb(113, 113, 113);
	text-transform: uppercase;
	text-align: center;
	line-height: 37px;
	font-weight: 700;
	font-size: 12px;
	transition: 0.3s;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	width: 10%;
  }
  .btn::before{
	content: '';
	position: absolute;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
	width: 36px;
	height: 115%;
	top: -10%;
	left: -100%;
	transform: rotate(10deg);
	animation: btn 10s linear infinite;
  }
  @keyframes btn{
	0%{
	}
	90%{
	  left: -100%;
	}
	100%{
	  left: 100%;
	}
  }
  .btn:hover {
	background:rgb(177, 175, 175);
  }

.header_logo{
	width: 60px;
}
.header_btn{
	border-radius: 100px;
	background: #ff4552;
	font-size: 13px;
}
.header_btn:hover{
	background: #ff7780;
}
header{
	margin-top: 30px;
}
.headers{
	background: white;
	padding: 1%;
	border-radius: 100px;
}
.nav{
	margin-top: 20px;
}
.nav_link{
	font-size: 23px;
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	color: #ff4552;
	transition: 0.5s;
}
.nav_link:hover{
	color: #a9000b;
}
.ul{
	gap: 15%;
}
.font1{
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
  }

/*main*/
.main_bg_img{
	border-radius: 32px;
}
.main_tit{
	font-size: 90px;
	margin-top: 6%;
	font-weight: 600;
	color: #ff4552;
}
.main_txt{
	text-align: center;
	margin: 2%;
	font-size: 26px;
	font-weight: 300;
	color: rgb(133, 131, 131);
}
.main_nav ul{
	justify-content: normal;
	gap: 4%;
	justify-content: center;
	margin-top: 4%;
}
.main_nav ul li{
	font-size: 30px;
}
/*begin*/
.begin{
	/* opacity: 0.3; */
	background: url(../img/begin1.jpeg)no-repeat;
	background-position: 50% 50%;
    background-size: cover;
}
.begin_tit{
	margin: 5% 0;
	color: #4552ff ;
	font-size: 66px;
	font-weight: 600;

}
.begin_txt{
	text-align: center;
    font-size: 23px;
    color: rgb(103 102 102);
    width: 757px;
}
.begin_card{
	background: white;
	padding: 5%;
	margin-top: 15%;
	z-index: 100;
	border-radius: 2rem;
	width: 66%;
	margin-left: 16%;
}
.begin_btn{
	width: 25%;
	padding: 20px;
	margin: 5% 0 0;
	background: #4552ff ;
	font-size: 20px;
}
.begin_card_btn{
	text-align: center;
}
.main{
	margin-bottom: 3%;
}